// Fonts
$font-main: 'Source Serif Pro', sans-serif;
$font-accent: 'Ruslan Display', serif;
$font-secondary: 'Inter', sans-serif;
$font-accent-secondary: "Caveat Brush";

// Colors
$brown: #6F4A36; 
$white: #FEF7E9; 
$text: #F0DFC9; 

